@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}




:root  {
  --background: 240 6% 95%;
  --foreground: 240 5% 10%;
  --card: 240 6% 90%;
  --card-foreground: 240 5% 15%;
  --popover: 240 6% 95%;
  --popover-foreground: 240 95% 10%;
  --primary: 240 2.4% 16.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 202 10% 85%;
  --muted-foreground: 240 5% 40%;
  --accent: 202 10% 80%;
  --accent-foreground: 240 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 240 5% 90%;
  --border: 240 20% 67%;
  --input: 240 20% 50%;
  --ring: 240 2.4% 16.1%;
  --radius: 1rem;
}
.dark  {
  --background: 240 10% 10%;
  --foreground: 240 5% 90%;
  --card: 240 6% 10%;
  --card-foreground: 240 5% 90%;
  --popover: 240 10% 5%;
  --popover-foreground: 240 5% 90%;
  --primary: 240 2.4% 16.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 202 10% 25%;
  --muted-foreground: 240 5% 65%;
  --accent: 202 10% 25%;
  --accent-foreground: 240 5% 90%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 240 5% 90%;
  --border: 240 20% 50%;
  --input: 240 20% 50%;
  --ring: 240 2.4% 16.1%;
  --radius: 1rem;
}




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

